# Ignore everything by default
/*

# Keep .gitignore itself
!.gitignore

# Keep Documentation
!README.md
!CONTRIBUTING.md

# Allow all JavaScript files and scripts
!*.js
!**/*.js
!*.html

# Allow the 'angular hooks' file
!angular hooks

# Allow GitHub Actions workflows
!.github
!.github/**